<div class="container">
    <div>
        <h1>Find details about your location!</h1>

        <div class="search">
            <label>enter your location:</label>
            <input [(ngModel)]="city" autofocus>
            <button class="rainbow" mat-raised-button color="accent" (click)="searchCity()">search</button>
        </div>

        <div class="overlay" *ngIf="searching">
            <div class="center">
                <mat-progress-spinner diameter=100  mode="indeterminate" color="accent">
                </mat-progress-spinner> 
            </div>
        </div>
        <p class="error">
            {{errorMsg}}
        </p>
    </div>
    <div>
        <mat-card *ngIf="valid">
            <mat-card-header>
                <mat-card-title>{{currentWeather.city}}</mat-card-title>
                <div [ngSwitch]="true">
                    <mat-icon *ngSwitchCase="currentWeather.temp > 25">wb_sunny</mat-icon>
                    <mat-icon *ngSwitchCase="currentWeather.temp < 15">flash_on</mat-icon>
                    <mat-icon *ngSwitchDefault>cloud_queue</mat-icon>
                </div>
                <mat-card-subtitle>{{currentWeather.state}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h4>
                The tempeture is: {{currentWeather.temp}}&#8451; but it feels like: {{currentWeather.tempFeeling}}&#8451;
                </h4>
                <p>
                Location: lat: {{currentWeather.lat}} lon: {{currentWeather.lon}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>