label,input {
    display: block;
}
button{
    margin: 10px 0px;
}
.error {
    color: darkred;
}

.rainbow{
    cursor: pointer;
}
.rainbow:hover{
    background-image:     linear-gradient(
       to right, 
       #E7484F,
       #F68B1D, 
       #FCED00,
       #009E4F,
       #00AAC3,
       #732982
     );
   animation:slidebg 3s linear infinite;
 }

 @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}
mat-card{
  max-width: 550px;
}
.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}