mat-toolbar {
    width: 50%;
    justify-content: space-evenly;
    background-color: lavender;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}